@page "/"

<PageTitle>Hair Salon</PageTitle>

<h1>Hair Salon</h1>

<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer felis orci, volutpat id tincidunt in, egestas eu purus. Duis cursus tincidunt iaculis. 
	Donec ultricies arcu at lorem bibendum vestibulum. Sed justo velit, consequat aliquet ultrices vel, convallis vehicula quam. 
	Nam finibus volutpat sapien, quis laoreet augue eleifend ac. Nullam viverra, augue sed bibendum bibendum, justo nulla scelerisque erat, 
	sed luctus massa eros et ante. Mauris in tempus diam. Aliquam vel scelerisque nisl. Aliquam id justo eu arcu aliquam mattis at ut justo. 
	Phasellus lorem augue, rutrum ac convallis in, auctor eget nisi. Mauris sed nisl ut odio luctus aliquam in ut erat.</span>
